body{
  font-family: sans-serif;
  color: blue;
}
h2{
  border: 3px dashed blue;
}
.classforContact{
  color: #291970;
  border: 3px;
}
p{
  color: red;
  font-size: 12px;
}
h1{
}
select:invalid, textarea:invalid, input:invalid{
  border: 2px dashed red;
}
select:valid, textarea:valid, input:valid{
  border: 2px solid black;
}
