*{
  font-family: Arial;
}
body{
  font-family: sans-serif;
  color: blue;
  background-color: #E6E6FA;
  border: 1px solid black;
}
h1{
  color: #191970;
  font-family: Times New Roman;
}
h2{
  border: 3px dashed blue;
}
p{
  color: red;
}
ul{
  color: black;
}
.classforContact{
  color: #291970;
  border: 3px;
}
select:invalid, textarea:invalid, input:invalid{
  border: 2px dashed red;
}
select:valid, textarea:valid, input:valid{
  border: 2px solid black;
}
#IDselector {
  background-color: #591970;
}
table, td, th, tr{
  border: 1px solid gray;
  text-align: center;
}
table{
  background-color: white;
}
tr, td, th{
  padding: 12px;
}
tr:nth-child(even),th {
  background-color: #f2f2f2;
}
